.searchResult {
    padding: 50px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .searchInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  
